@tailwind base;
@tailwind components;
@tailwind utilities;


.explore {
    border-radius: 5px;
    background: #f8f7f7;
    box-shadow: 5px 5px 10px #dad9d9,
        -5px -5px 10px #ffffff;
}
.explore2 {
    border-radius: 5px;
    background: #fffcfc;
    box-shadow: 5px 5px 10px #dad9d9,
        -5px -5px 10px #ffffff;
}