@tailwind base;
@tailwind components;
@tailwind utilities;


.explore {
    border-radius: 5px;
    background: #f8f7f7;
    box-shadow: 5px 5px 10px #dad9d9,
        -5px -5px 10px #ffffff;
}

.explore2 {
    border-radius: 5px;
    background: #fffcfc;
    box-shadow: 5px 5px 10px #dad9d9,
        -5px -5px 10px #ffffff;
}

.nnn5 {
    border-radius: 50px;
    background: #f1efef;
    box-shadow: 5px 5px 5px #bcbaba,
        -5px -5px 5px #ffffff;
}

.input {
    border-radius: 7px;
    background: #f8e8e8;
    box-shadow:  5px 5px 20px #635d5d,
                 -5px -5px 20px #ffffff;
}  

.nnn3 {
    margin-top: 30px;
    border-radius: 60px;
    background: #f7f3f3;
    box-shadow: 5px 5px 0px #606060,
      -5px -5px 0px #ffffff;
  }
  



  
  /* CSS */
  .bb:hover{
    font-size: 15px;
  }
  .bb {
    font-size: 14px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .bb:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bb:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
 